</div>

<div class="col-sm-1">

</div>
</div>
</main>

<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">GameDB</span>
    </div>
</footer>

</body>

</html>
