.DS_Store*
Thumbs.db
ehthumbs.db
Desktop.ini
.directory
*~
node_modules
package-lock.json
coverage
benchmarks/graphs
.idea
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
keys.js
