.sidenav{
    background-color: grey;
    height: 100%;
}

img.card-img-top {
    height: 250px;
    object-fit: cover;
}
hr {
    background: #cec8c8;
}

main {
    min-height:700px;
}

body{
    color:white;
    background-color:#121212;
}

.card-body{
    background-color: rgba(47, 47, 47, 0.82);
}

#cardtitle{
    color:white;
}

.card{
    background-color: rgba(47, 47, 47, 0.82);
}

.card-title{
    color:white;
}

.list-group-item{
    background-color: rgba(47, 47, 47, 0.82);
    color:white;
}
.carousel-caption{
    color: white;
    position: relative;
    left: auto;
    right: auto;
}
.jumbotron{
    background-color: rgba(47, 47, 47, 0.82);;
    color: white;
}

.footer {
    position:static;
    margin-top:30px;
    background-color: rgba(47, 47, 47, 0.82);
}

.page-item .page-link{
    background-color: rgba(47, 47, 47, 0.82);
}

.page-item.disabled .page-link {
    background-color: rgba(47, 47, 47, 0.82);
}