.sidenav{
  background-color: grey;
  height: 100%;
}

img.card-img-top {
    height: 250px;
    object-fit: cover;
}
hr {
  background: #cec8c8;
}

main {
  min-height:700px;
}

#cardtitle{
    color:black;
}
.footer {
  position:static;
  margin-top:30px;
}
.carousel-caption{
    color: black;
    position: relative;
    left: auto;
    right: auto;
}

#filter a.collapsed:after {
    content: '+ Show More';
}

#filter a:not(.collapsed):after {
    content: '- Show Less';
}

#filter #collapsegenre.collapse:not(.show) {
    display: block;
    height: 4.5em;
    overflow: hidden;
}

#filter #collapsegenre.collapsing {
    height: 4.5em;
}
#filter #collapseplatforms.collapse:not(.show) {
    display: block;
    height: 4.5em;
    overflow: hidden;
}

#filter #collapsepplatforms.collapsing {
    height: 4.5em;
}
