.sidenav{
  background-color: grey;
  height: 100%;
}

img.card-img-top {
    height: 250px;
    object-fit: cover;
}
hr {
  background: #cec8c8;
}

main {
  min-height:700px;
}

#cardtitle{
    color:black;
}
.footer {
  position:static;
  margin-top:30px;
}